<!-- your html code here -->
<div class="container border-top border-bottom">
    <div class="row py-5">
        <div class="col-8 mt-3">
            <h1>
                <span class="fw-bold">The First Heading</span>
                <span class="text-secondary">Will Catch Your Eye</span>
            </h1>
            <h4 class="fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, deserunt odio. Autem, debitis nam <br>hic
                exercitationem assumenda facilis harum ad aspernatur ut. Eos neque accusamus vero? Beatae <br> voluptates
                perspiciatis tenetur.</h4>
        </div>
        <div class="col-4">
            <img class="rounded-circle w-100" src="assets/img/1.jpg" alt="rostro">
        </div>
    </div>

</div>