<div class="container-fluid mt-5 mb-5"> 
    <div class="container border-top border-secondary pt-5">
        <div class="row mt-5 mb-5">
            <div class="col-4">
                <img class="float-start rounded-circle" src="assets/img/2.jpg" alt="">
            </div>
            <div class="col-8">
                <h2>The Second Heading <span class="text-secondary">Is Pretty Coll Too</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus minima libero quidem nostrum sint eos magni dolores aliquid quis delectus et temporibus doloribus, voluptatem perspiciatis maxime non ex veniam accusamus?</p>
            </div>
        </div>
    </div>
</div>